<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.dao.privilege.RoleDao">
    <resultMap id="role" type="com.fs.entity.privilege.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>


    <insert id="insert">
        insert into role(name, description) values(#{name},#{description})
    </insert>

    <delete id="delete">
        delete from role where id = #{id}
    </delete>

    <update id="update">
        update role set name = #{name}, description = #{description}
        where id = #{id}
    </update>

    <select id="findRole" resultMap="role">
        select id, name, description
        from role
        where id = #{roleId}
    </select>

    <select id="getAll" resultMap="role">
        select id, name, description
        from role
    </select>

    <select id="getPageHelper" resultMap="role">
        select id, name, description
        from role
        order by id
    </select>

    <select id="getFilter" resultMap="role">
        <bind name="Name" value="'%' + _parameter.param3 + '%'"/>
        select id, name, description
        from role
        where name like #{Name}
        order by id
    </select>


    <select id="getRoles" resultMap="role">
        select r.id,r.name,r.description
        from role r,user_role ur
        where r.id = ur.role_id and ur.user_id = #{userId}
    </select>


</mapper>