<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.dao.order.OrderMasterDao">
    <resultMap id="customer" type="com.fs.entity.customer.CustomerLogin">
        <id property="customerId" column="customerId"/>
        <result property="loginUsername" column="loginUsername"/>
    </resultMap>

    <resultMap id="addr" type="com.fs.entity.customer.CustomerAddr">
        <id property="customerAddrId" column="customerAddrId"/>
        <result property="customerId" column="customerId"/>
        <result property="consignee" column="consignee"/>
        <result property="consigneePhone" column="consigneePhone"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="address" column="address"/>
    </resultMap>

    <resultMap id="master" type="com.fs.entity.order.OrderMaster">
        <id property="orderId" column="orderId"/>
        <result property="orderSn" column="orderSn"/>
        <result property="customerId" column="customerId"/>
        <result property="customerAddrId" column="customerAddrId"/>
        <result property="orderMoney" column="orderMoney"/>
        <result property="districtMoney" column="districtMoney"/>
        <result property="shippingMoney" column="shippingMoney"/>
        <result property="paymentMoney" column="paymentMoney"/>
        <result property="shippingSn" column="shippingSn"/>
        <result property="createTime" column="createTime"/>
        <result property="shippingTime" column="shippingTime"/>
        <result property="payTime" column="payTime"/>
        <result property="receiveTime" column="receiveTime"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="modifiedTime" column="modifiedTime"/>

        <association property="customer" resultMap="customer"/>
        <association property="addr" resultMap="addr"/>
    </resultMap>

    <select id="getPageHelper" resultMap="master">
        select orderId,orderSn,o.customerId,o.customerAddrId,orderMoney,districtMoney,
        shippingMoney,paymentMoney,shippingSn,createTime,shippingTime,payTime,receiveTime,
        orderStatus,o.modifiedTime,loginUsername,consignee,consigneePhone,province,district,
        city,address
        from order_master o
        left join customer_login l on o.customerId = l.customerId
        left join customer_addr a on o.customerAddrId = a.customerAddrId
        order by orderId
    </select>

    <select id="getFilter" resultMap="master">
        select orderId,orderSn,o.customerId,o.customerAddrId,orderMoney,districtMoney,
        shippingMoney,paymentMoney,shippingSn,createTime,shippingTime,payTime,receiveTime,
        orderStatus,o.modifiedTime,loginUsername,consignee,consigneePhone,province,district,
        city,address
        from order_master o
        left join customer_login l on o.customerId = l.customerId
        left join customer_addr a on o.customerAddrId = a.customerAddrId
        <where>
            <if test=" orderStatus != null ">
                orderStatus = #{orderStatus}
            </if>
            <if test=" loginUsername != null ">
                and loginUsername like concat('%',#{loginUsername},'%')
            </if>
            <if test=" orderSn != null ">
                and orderSn like concat('%',#{orderSn},'%')
            </if>
        </where>
        order by orderId
    </select>


    <select id="getById" resultMap="master">
        select orderId,orderSn,o.customerId,o.customerAddrId,orderMoney,districtMoney,
        shippingMoney,paymentMoney,shippingSn,createTime,shippingTime,payTime,receiveTime,
        orderStatus,o.modifiedTime,loginUsername,consignee,consigneePhone,province,district,
        city,address
        from order_master o
        left join customer_login l on o.customerId = l.customerId
        left join customer_addr a on o.customerAddrId = a.customerAddrId
        where orderId = #{orderId}
        order by orderId
    </select>

    <insert id="insert" >
        insert into order_master(orderSn,customerId,customerAddrId,orderMoney,districtMoney,
        shippingMoney,paymentMoney,shippingSn,createTime,shippingTime,payTime,
        receiveTime,orderStatus,modifiedTime)
        values(#{orderSn},#{customerId},#{customerAddrId},#{orderMoney},#{districtMoney},
        #{customerId},#{shippingMoney},#{paymentMoney},#{shippingSn},now(),#{shippingTime},
        #{payTime},#{receiveTime},#{orderStatus},now())
    </insert>

    <delete id="delete">
        delete from order_master where orderId = #{orderId}
    </delete>

    <update id="update">
        update order_master
        <set>
            <if test="customerAddrId != null">customerAddrId = #{customerAddrId},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="shippingTime != null">shippingTime = #{shippingTime},</if>
            <if test="payTime != null">payTime = #{payTime},</if>
            <if test="receiveTime != null">receiveTime = #{receiveTime},</if>
            <if test="orderStatus != null">orderStatus = #{orderStatus},</if>
            <if test="modifiedTime == null">modifiedTime = now(),</if>
        </set>
        where orderId = #{orderId}
    </update>
</mapper>