<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.dao.order.OrderCartDao">
    <resultMap id="cart" type="com.fs.entity.order.OrderCart">
        <id property="cartId" column="cartId"/>
        <result property="customerId" column="customerId"/>
        <result property="productId" column="productId"/>
        <result property="productAmount" column="productAmount"/>
        <result property="price" column="price"/>
        <result property="checked" column="checked"/>
        <result property="addTime" column="addTime"/>
        <result property="modifiedTime" column="modifiedTime"/>
        <result property="productName" column="productName"/>
        <result property="picUrl" column="picUrl"/>
    </resultMap>

    <select id="getByCustomer" resultMap="cart">
        select cartId,customerId,c.productId,productAmount,c.price,checked,addTime,
        c.modifiedTime,p.productName,i.picUrl
        from order_cart c
        left join product_info p on c.productId=p.productId
        left join product_pic_info i on p.productId = i.productId
        where i.picMaster = 1 and customerId = #{customerId}
        order by cartId desc
    </select>

    <select id="getById" resultMap="cart">
        select cartId,customerId,c.productId,productAmount,c.price,checked,addTime,
        c.modifiedTime,p.productName,i.picUrl
        from order_cart c
        left join product_info p on c.productId=p.productId
        left join product_pic_info i on p.productId = i.productId
        where i.picMaster = 1 and cartId = #{cartId}
        order by cartId desc
    </select>

    <select id="getByProductId" resultMap="cart">
        select cartId,customerId,c.productId,productAmount,c.price,checked,addTime,
        c.modifiedTime,p.productName,i.picUrl
        from order_cart c
        left join product_info p on c.productId=p.productId
        left join product_pic_info i on p.productId = i.productId
        where i.picMaster = 1 and customerId = #{param1} and productId = #{param2}
        order by cartId desc
    </select>

    <insert id="insert">
        insert into order_cart(customerId,productId,productAmount,price,checked,addTime,modifiedTime)
        values(#{customerId},#{productId},#{productAmount},#{price},'true',now(),now())
    </insert>

    <delete id="delete">
        delete from order_cart where cartId = #{cartId}
    </delete>

    <update id="update">
        update order_cart
        <set>
            <if test="productAmount != null">productAmount = #{productAmount},</if>
            <if test="price != null">price = #{price},</if>
            <if test="checked != null">checked = #{checked},</if>
            <if test="addTime != null">productCnt = #{addTime},</if>
            <if test="modifiedTime == null">modifiedTime = now(),</if>
        </set>
        where cartId = #{cartId}
    </update>
</mapper>